@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-basic-theme{
  .info{
    .heading{
      margin-top: r(30);
    }
  }
  .main-text{
    margin-bottom: r(90);
    margin-top: r(85);
    .title{
      margin-top: unset;
    }
  }
  .text p{
    line-height: 1.5rem;
  }
}

.page-template-fullwidth {
  .primary{
    margin-bottom: r(90);
  }
  .text p{
    line-height: 1.5rem;
  }
}
