@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
.page-template-contact{
   
    .position {
        font-size: .75rem;
        font-weight: 700;
       margin-right: r(7);
    }
    .w-data {
        svg path{
            fill: $second_font_color;
        }
        .text{
            margin-top: 1rem;
        }
        margin-top: r(30);
        a:hover{
            color: $second_font_color;
        }
    }
    .phone-item{
        margin-top: r(15);
    }
    .w-content-contact{
        display: grid;
        grid-template-columns: 1fr 26.4vw;
        column-gap: 4.8%;
        margin-bottom: 3.75rem;
        @media screen and (max-width: 991px) {
            display: block;
            .w-form{
                margin-top:r(50);
            }
          }
    }
   
    .w-form{
      
        >[role="form"]{
            margin-top: r(25);
        }
        .title {
            line-height: unset;  
        }
    }
    .headin-info-contact{
       display: flex;
       align-items: center;
        font-size: r(33);
        color: $basic_font_color;
        font-family: $ff;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 600px){
            font-size: r(28);
          }
          @media screen and (max-width: 380px){
            font-size: r(24);
          }
          @media screen and (max-width: 340px){
            font-size: r(20);
          }
    }
    .info{
       .text strong{
           margin-bottom: r(20);
           display: inline-block;
           margin-top: unset;
       }
        @media screen and (max-width: 600px){
            .text{
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .w-address,
            .w-phones,
            .w-email,
            .w-data > .text {
                margin-top: r(15);
            }
        }
       
    }
    .w-phones,
     .w-email{

        a{
            display: block;
        }
    }
    
    .w-top-navbar .w-phones {
        a{
            display: flex;
        }
    }
}


