@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

footer {
  background: $main_bg_color;

    .w-content{
      @media screen and (max-width:992px){
      width: 94vw;
    }
    @media screen and (max-width:600px), screen and (max-width:700px) and (orientation: landscape){
      width: 88%;
    }
  }

  #footer-widget {
    padding-top: r(60);
    @media screen and (max-width:600px){
      padding-top: 2.5rem;
    }
    .w-content {
      display: grid;
      grid-template-columns: 34% 1fr 23%;
      column-gap: 6.7%;
      @media screen and (max-width:1024px){
        grid-template-columns: 34% 1fr 20%;
        column-gap: 7.5%;
      }
      @media screen and (max-width:768px){
        grid-template-columns: 39% 1fr 15%;
        column-gap: 5%;
      }
      @media screen and (max-width:600px), screen and (max-width:700px) and (orientation: landscape) {
        grid-template-columns: 1fr;
        column-gap: unset;
        row-gap: r(40);
      }
    }
  }

  .text,
  .menu-footer a,
  .widgettitle {
    font-size: r(14);
    line-height: r(27);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-top: r(17);
  }
  .menu-footer li:nth-child(n + 2) .nav-link{
    margin-top: r(5);
  }
  .w-address,
  .widgettitle {
    margin-top: unset;
  }
.text{
  margin-bottom: unset;
}
  .widgettitle {
    text-transform: uppercase;
  }
  *>a {
    &:hover {
      color: $second_font_color;
      svg path {
        fill:$second_font_color;
      }
    }

    &.nav-link {
      display: block;
      padding: unset;

    }
  }
 
  .logotype {
    margin-bottom: r(10);
  }

  .nav.flex-column {
    a {
      padding: unset;
    }

  }
  a.text {
    display: inline-block;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    margin-top: 17px;
    position: relative;
    color: $main_font_color;
    font-size: .8125rem;
    line-height: 1.5625rem;
    font-family: $ff;
    font-weight: 300;

    @media screen and (max-width: 600px) {
      margin-top: 30px;
    }

    >a {
      padding-left: r(5);
      color: $main_font_color;
      &:hover {
        color: $second_font_color;

      }
    }
  }

  .copyright>.w-heart {
    display: inline-block;
    margin: 0 0.25rem;
  }

  .copyright .heart {
    width: 30px;
    animation: heartbeat 2s infinite;

    path {
      fill: $main_font_color;
    }
  }

  @keyframes heartbeat {
    0% {
      transform: scale(.75);
    }

    20% {
      transform: scale(1);
    }

    40% {
      transform: scale(.75);
    }

    60% {
      transform: scale(1);
    }

    80% {
      transform: scale(.75);
    }

    100% {
      transform: scale(.75);
    }
  }
}



@media screen and (max-width: 600px) {}

@media screen and (max-width: 320px) {}