@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.w-content {
  width: 82vw;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 600px) {
    width: 88%;
  }

}

.relative {
  position: relative;
}

.site {
  position: relative;
}


body {

  font-family: $ff;
}

a,
span {
  font-family: $ff;
  color: $basic_font_color;
}

a {
  transition: all 0.3s;

  &:hover {
    text-decoration: unset;
  }
}

.title {
  font-size: r(48);
  color: $main_font_color;
  font-family: $ff;
  font-weight: 800;
  text-transform: uppercase;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 340px) {
    font-size: r(24);
  }
}

svg {

  path {
    fill: $svg_color;
  }

  margin-right: r(8);
}

.link-to {
  color: $second_font_color;
  font-weight: 800;
  text-transform: uppercase;
  height: r(40);
  display: flex;
  align-items: center;
  transition: color 0.3s;

  @media screen and (max-width: 992px) {
    height: r(50);
    font-size: 0.8rem;
  }

  &:hover {
    color: $main_font_color;
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  font-size: r(24);
  font-weight: 800;
  color: $text_font_color_1;

  a:hover {
    color: $second_font_color;
  }
}

.text {
  font-size: r(14);
  line-height: r(18);
  color: $text_font_color_1;
  font-family: $ff;
  font-weight: 300;
  margin-top: r(30);

  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.service {
  .title {
    font-weight: 700;
    font-size: r(36);
    line-height: r(36);
    margin-top: r(25);
    color: $text_font_color_1;
    text-transform: unset;
  }
}

.tiles-title {
  font-size: r(18);
  color: $text_font_color_1;
  font-weight: 700;
  text-align: center;
  margin-top: r(15);

  @media screen and (max-width: 992px) {
    font-size: 1.5rem;
  }
}

.first {
  background: $text_font_color_1;
}

.second {
  background: $second_font_color;
}

.third {
  background: #efefef;
}

.text {
  color: $text_font_color_1;

  p {
    font-size: r(14);
    line-height: r(20);
    font-weight: 300;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
}

.primary .text strong {
  font-weight: 700;
  font-size: r(36);
  line-height: r(36);
  margin-top: r(25);
  color: $text_font_color_1;
  text-transform: unset;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  margin-top: r(60);

  .page-template-rental & {
    column-gap: 2vw;
    row-gap: 2vw;
    .w-item{
    padding-top: 70%;
    position: relative;
    }
    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    @media screen and (max-width: 600px) {
      row-gap: 5vw;
    }

    .item {
      padding: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;

    body:not(.page-template-category-cars):not(.page-template-category-machine) & {
      >*:last-child {
        grid-column: 1 / 3;
        width: 50%;
        justify-self: center;
        @media screen and (max-width: 600px) {
          grid-column: 1 / 2;
          width: 100%;
          justify-self: unset;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    column-gap: unset;
    row-gap: 2rem;
  }

  .text {
    margin-top: r(15);
    font-size: r(14);
    line-height: r(22);
    text-align: center;

    @media screen and (max-width: 992px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .item {
    border: 1px solid #b7b7b7;
    min-height: 13rem;
    padding: r(34) 12.4%;
    padding-top: calc(2.125rem + 50px);

    position: relative;

    @media screen and (max-width: 992px) {
      padding-top: unset;
      padding: 4rem 0;
    }
    @media screen and (max-width: 600px) {
     min-height: 60vw;
    }
  }

  svg {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 2.125rem;
    left: calc(50% - 25px);

    @media screen and (max-width: 992px) {
      position: static;
    }

    path {
      fill: $second_font_color;
    }
  }

  .item:nth-child(2) svg {
    top: calc(2.125rem - 3px);
  }

  .item:nth-child(3) svg {
    top: calc(2.125rem + 5px);
  }
}

.page-heading {
  position: relative;
  height: 10rem;
}

.primary {
  margin-top: r(60);
}

.page-template-fullwidth .site-main {
  margin-bottom: 3.75rem;
  min-height: 60vh;
}

.child-corner>* {
  width: 100%;
}

.dn {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}
  .error-404 {
    .primary &{
      margin-bottom: 3.75rem;
    }
    .title {
      color:$text_font_color_1;
      text-align: center;
    }
  } 
.map {
  position: relative;
  height: r(300);
  width: 100%;

  @media screen and (max-width: 600px) {
    margin-left: unset;

  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#breadcrumbs {
  margin-bottom: r(19);
  font-family: $ff;
  font-size: r(11);
  font-weight: 300;
}


.row {
  margin-left: unset;
  margin-right: unset;
}

.before-element {
  line-height: 5.8125rem;
  padding-left: 1.375rem;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: .5625rem;
    height: 1.6875rem;
    position: absolute;
    top: 2.0625rem;
    left: 0;
    background: $main_element_bg_color;
  }

  &.f-size-23 {
    &:after {
      height: r(23);
    }
  }
}

.botton-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: r($botton_arrow_size);
  height: r($botton_arrow_size);
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid $main_font_color;
    border-right: 1px solid $main_font_color;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    top: 2px;
  }
}

.navbar-light .navbar-toggler {
  color: $main_font_color;
  border-color: $main_font_color;
}

nav.navbar {
  position: relative;
}

p.text {
  margin-bottom: unset;
}

//cooke navbar
.ctcc-inner {

  span,
  a {
    font-size: .8125rem;

  }

  .ctcc-left-side {
    color: rgba(255, 255, 255, 0.8);
  }
}

body #catapult-cookie-bar .x_close span {
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-toggle::after {
  border-left: unset;
  border-top: unset;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 600px) {


  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {}

/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1680px) {
  html {
    font-size: 115%;
  }
}