@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

$nav_font_size: r(14);

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.w-top-navbar {
  font-size: r(12);
  color: rgba(255, 255, 255, 0.7);
  font-family: $ff;
  font-weight: 400;
  background: $main_bg_color;
  height: r(40);

  @media screen and (max-width: 992px) {
    height: r(50);
  }

  .w-content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      width: 94vw;
    }
    @media screen and (max-width: 380px) {
      width: 88%;
    }
    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: unset;
      .link-to {
        justify-content: flex-end;
      }
    }
  }

  .w-address-bar {
    display: flex;
    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 3vw;
    }
    @media screen and (max-width: 380px) {
     display: block;
    }

    >* {
      @media screen and (min-width: 601px) {
      padding-left: r(30);
      padding-right: r(30);

      &:first-child {
        padding-left: unset;
      }

      &:last-child {
        padding-right: unset;
      }
    }
    }
  }

  .w-address {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }

  a:not(.link-to) {
    font-size: r(12);
    color: rgba(255, 255, 255, 0.7);
    font-family: $ff;
    font-weight: 400;
    @media screen and (max-width: 992px) {
      font-size: 0.8rem;
    }
  }

  .w-working-time,
  .w-address,
  .phone {
    height: r(40);
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
      height: r(50);
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 600px), screen and (max-width:700px) and (orientation: landscape) {
  .w-address {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .w-working-time {
    display: none;
  }
}
  .w-phones {
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      a {
        color: $second_font_color;
      }

      svg path {
        fill: $second_font_color;
      }
    }
  }
}

.logotype {
  width: r(307);
  height: r(67);

  a {
    svg {
      margin-right: unset;
      height: r(67);

      path,
      polygon {
        fill: $second_font_color;
      }
    }

    display: grid;
    grid-auto-columns: r(89) 1fr;
    column-gap: r(12);

    @media screen and (max-width:330px){
      column-gap: unset;
    }
    svg {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    .name {
      font-size: r(41);
      font-weight: 800;
      color: #fff;
      text-transform: uppercase;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      position: relative;
      top: r(4);
    }

    .heading {
      font-size: r(10);
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
    }
  }
}

header {
  background: rgba(41, 42, 44, 0.6);
  margin-top: r(40);

  @media screen and (max-width: 992px) {
    margin-top: r(50);
  }

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;

  .w-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: r(100);

    @media screen and (max-width: 992px) {
      width: 94vw;
    }
    @media screen and (max-width: 380px) {
      width: 88%;
    }
  }

  .navbar-nav {
    align-items: center;
    width: 100%;
    justify-content: flex-end;

  }

  &.navbar-light .navbar-nav {
    position: relative;
    left: r(17);

    >.menu-item {
      position: relative;
      padding-right: r(16);
      padding-left: r(16);
      margin-left: r(8);

      &.menu-item-has-children {
        padding-right: r(12);
      }

      &:first-child {
        margin-left: unset;
      }

      @media screen and (min-width:1200px) {

        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          height: r(5);
          width: r(8);
          left: 0;
        }

        &::before {
          top: 0;
          border-left: 1px solid transparent;
          border-top: 1px solid transparent;
          transition: border-color 0.3s;
        }

        &::after {
          bottom: 0;
          border-left: 1px solid transparent;
          border-bottom: 1px solid transparent;
          transition: border-color 0.3s;
        }
      }

      &.active,
      &:hover,
      &.show {
        &::before {
          border-color: $second_font_color;
        }

        &::after {
          border-color: $second_font_color;
        }

        >.nav-link {
          text-transform: uppercase;
          font-size: $nav_font_size;
          letter-spacing: 3px;
          color: $second_font_color;

          font-family: $ff;
          padding: unset;

          span {
            &::before {
              background: $second_font_color;
            }

            &::after {
              background: $second_font_color;
            }
          }

          &::before {
            border-color: $second_font_color;
          }

          &::after {
            border-color: $second_font_color;
          }
        }
      }
    }

    .nav-link {
      height: r(21);

      @media screen and (max-width: 1199px) {
        height: 3rem;
      }

      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: $nav_font_size;
      letter-spacing: 3px;
      color: #fff;
      font-family: $ff;
      font-weight: 800;
      padding: unset;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        width: 10px;
        position: relative;

        &::after,
        &::before {
          display: block;
          content: "";
          position: absolute;
          background: #fff;
        }

        &::before {
          height: 100%;
          width: 2px;
        }

        &::after {
          height: 2px;
          width: 100%;
        }
      }

      @media screen and (min-width:1200px) {

        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          height: r(5);
          width: r(8);
          right: 0;
        }

        &::before {
          top: 0;
          border-right: 1px solid transparent;
          border-top: 1px solid transparent;
          transition: border-color 0.3s;
        }

        &::after {
          bottom: 0;
          border-right: 1px solid transparent;
          border-bottom: 1px solid transparent;
          transition: border-color 0.3s;
        }
      }

    }

    .dropdown-item {
      padding: 0;
      line-height: 2rem;
      padding-left: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      background: #fff;

      @media screen and (max-width: 1199px) {
        background: transparent;
        color: #fff;
        padding-left: unset;
        text-align: center;
      }
    }

    .dropdown-menu {
      width: 17rem;
      border-radius: unset;
      padding: unset;
      border: unset;
      background: unset;

      >li:first-child {
        margin-top: r(10);
      }
    }
    > li:last-child{
      .dropdown-menu{
        left: unset;
        right: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: r(8) 0 r(15) 0;
  }


  #main-nav {
    span.close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;

      @media screen and (max-width: 768px) {
        right: 2rem;
      }

      @media screen and (max-width: 600px) {
        right: 2rem;
        top: 5rem;
      }

      @media screen and (max-width: 380px) {
        right: 1.3rem;
      }

      @media screen and (max-width: 380px) {
        right: 1.2rem;
      }

      &:after,
      &::before {
        width: 14px;
        height: 2px;
        display: block;
        background: $main_font_color;
        content: "";
        position: absolute;
      }

      &:after {
        transform: rotateZ(45deg);
      }

      &::before {
        transform: rotateZ(-45deg);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .navbar-collapse {
      position: fixed;
      z-index: 101;
      right: 0;
      width: 40vw;
      height: 100vh;
      top: 0;
      background: $text_font_color_1;
    }

    .navbar-nav {
      margin-top: r(80);
    }

    .show .navbar-nav .nav-link {
      font-size: r(24);
    }
  }

  @media screen and (max-width: 600px), screen and (max-width:850px) and (orientation: landscape) {
    .navbar-collapse {
      width: 100vw;
      overflow: auto;
      overflow-x: hidden;
    }

    .navbar-nav {
      margin-top: 8rem;
      margin-bottom: 6rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar .menu-item-162 {
    display: none;
  }

  header .container {
    max-width: 87.47vw;
  }
}