@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-front-page{
  .w-carousel {
    .item {
      padding-top:r(558);
      position: relative;
      display: flex;
      align-items: center;
    }
    img{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .w-content-carousel-text{
      position: absolute;
      z-index: 2;
      bottom: r(115);
      left: calc((100% - 50rem)/2);
      width: 50rem;
      @media screen and (max-width: 992px){
        left: 10vw;
        width: 80vw;
      }
    }
    .w-content-title{
      text-align: center;
    }
    .text{
      line-height: r(20);
      margin-top: r(17);
      color: rgba(255,255,255,0.7);
    }
    .title {
      line-height: r(50);
      @media screen and (max-width: 600px){
        line-height: 2.7rem;
      }
      @media screen and (max-width: 380px){
        line-height: 2.125rem;
      }
    }
    .w-bottoms{
      margin-top: r(45);
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      
      >*{
        &:last-child {
          margin-left: r(20);
        }
      }
    }
    .cta{
      font-weight: 800;
    }
  }
  .generally-description{
    position: relative;
    .bg-image {
      left: unset;
      top: unset;
      right: 0;
      object-fit: cover;
      width: 60%;
      height: 100%;
      
    }
    .w-content{
      padding-top: r(45);
      padding-bottom: r(50);
      position: relative;
      z-index: 2;
    }
    
  }
  .item-description{
    margin-top: r(25);
    &:first-child{
      margin-top:unset;
    }
  }
  .tiles {
  max-width: r(920);
    column-gap: r(10);
   margin: 0 auto;
    margin-top: unset;
      
    @media screen and (max-width: 992px){
      margin-top: 2rem;
      margin-bottom: 2rem;
    column-gap: 2rem;
    }
    @media screen and (max-width: 600px){
      grid-template-columns: 1fr;
      column-gap: unset;
        row-gap: 2rem;
    }
    .item{
      border: unset;
    }
    // .first,.second {
    //   .tiles-title,.text{
    //     color: #fff;
    //   }
      
    //   path{
    //     fill: #fff;
    //   }
    // }
   .third, .first,.second {
   .cta-arrow{
     color: $text_font_color_1;
     &::after{
      border-color: $text_font_color_1;
     }
    
   }
    
    path{
      fill: $text_font_color_1;
    }
   }
  }
}

@media screen and (max-width: 600px) {
  .page-template-front-page {
    #content.site-content {
      margin-top: 653px;
    }

    .w-content-team {
      margin-top: 1.5rem;
    }
  }
}