@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.category-posts-heading {
  height: r(374);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    position: relative;
    z-index: 2;
      top: r(48);
    @media screen and (max-width: 992px){
      font-size: 2.5rem;
    }
    @media screen and (max-width: 340px){
      font-size: 2rem;
    }
  }
}

.w-posts{
  body:not(.page-template-category-cars):not(.page-template-category-machine):not(.single):not(.page-template-rental) & {
    margin-top: r(110);
  }
  margin-top: r(70);
  
  @media screen and (max-width: 600px),screen and (max-width : 700px) and (orientation: landscape){
    margin-top: 4rem;
  }
}
@media screen and (max-width: 600px),screen and (max-width : 700px) and (orientation: landscape){
.single {
  .posts > .info{
    grid-row: 1 / 2;
  }
}
}
.service{
  body:not(.page-template-category-cars):not(.page-template-category-machine):not(.single):not(.page-template-rental) & {
    margin-bottom:11rem;
  }
  margin-bottom:7rem;
  @media screen and (max-width: 600px),screen and (max-width : 700px) and (orientation: landscape){
    margin-bottom: 4rem;
  }
  }
  .main-text {
    .title {
      font-size: r(36);
      color: $text_font_color_1;
    }
  }
