
@import './functions.scss';

$cta_main_color:#fdb900;
$cta_basic_color:#fff;
  .cta{
    width: r(180);
    height: r(55);
    font-size: r(14);
    box-sizing: border-box;
    border: 1px solid $cta_main_color;
    color:$cta_basic_color;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    &:hover{
        background: $cta_main_color;
        color:$cta_basic_color;
    }
  }

  .cta-banner {
    font-size: r(20);
    color: #000;
    font-weight: 700;
    width: r(245);
    height: r(70);
    background: $cta_basic_color;
    border: 1px solid $cta_basic_color;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 992px){
      width: r(215);
    }
    &:hover{
      color: $cta_basic_color;
      background: transparent;    
    }
  }
  .cta-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: r(25);
    color:$main_font_color;
    font-weight: 600;

    .page-template-rental & {
      color: $text_font_color_1;
    }
    .generally-description & {
      color: $text_font_color_1;
    }
    @media screen and (max-width: 992px){
      font-size: 1.3rem;
    }
    &::after {
      display: block;
      content:"";
      width: 0.6rem;
      height: 0.6rem;
      border-top: 2px solid $main_font_color;
      border-right: 2px solid $main_font_color;
      position: relative;
      margin-left: r(6);
      transform: rotateZ(45deg);
      .page-template-rental & {
       border-color: $text_font_color_1;
      }
      .generally-description & {
        border-color: $text_font_color_1;
      }
    }
    &:hover{
      &::after{
        left:r(5);
      }
    }
  }