@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.corner {
  position: relative;
  padding-right: r(16);
  padding-left: r(16);
  display: inline;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: r(5);
    width: r(8);
    left: 0;
  }

  &::before {
    top: 0;
    border-left: 1px solid $second_font_color;
    border-top: 1px solid $second_font_color;

  }

  &::after {
    bottom: 0;
    border-left: 1px solid $second_font_color;
    border-bottom: 1px solid $second_font_color;

  }

  span {
    color: $second_font_color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: $ff;
    font-weight: 800;
    padding: unset;
    line-height: r(21);

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: r(5);
      width: r(8);
      right: 0;
    }

    &::before {
      top: 0;
      border-right: 1px solid $second_font_color;
      border-top: 1px solid $second_font_color;
      transition: border-color 0.3s;
    }

    &::after {
      bottom: 0;
      border-right: 1px solid $second_font_color;
      border-bottom: 1px solid $second_font_color;
      transition: border-color 0.3s;
    }
  }
}

.corner-service {
  position: relative;
  padding: r(20) r(16);

  .text {
    margin-top: unset;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: r(15);
    width: r(15);
    left: 0;
  }

  &::before {
    top: 0;
    border-left: 2px solid $second_font_color;
    border-top: 2px solid $second_font_color;

  }

  &::after {
    bottom: 0;
    border-left: 2px solid $second_font_color;
    border-bottom: 2px solid $second_font_color;

  }

  .child-corner {
    width: 100%;
    color: $second_font_color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: $ff;
    font-weight: 800;
    padding: unset;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: r(15);
      width: r(15);
      right: 0;
    }

    &::before {
      top: 0;
      border-right: 2px solid $second_font_color;
      border-top: 2px solid $second_font_color;

    }

    &::after {
      bottom: 0;
      border-right: 2px solid $second_font_color;
      border-bottom: 2px solid $second_font_color;
    }
  }
}

.plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: r(30);
  height: r(30);

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: $second_font_color;

  }

  &::before {
    width: 100%;
    height: r(7);
  }

  &::after {
    height: 100%;
    width: r(7);
  }
}

.posts {
  display: grid;
  grid-template-columns: 1fr 50%;
  column-gap: 7.5%;

  @media screen and (max-width: 600px),screen and (max-width : 700px) and (orientation: landscape){
    grid-template-columns: 1fr;
    column-gap: unset;
  }

  >* {
    align-self: center;
  }

  margin-top: r(60);

  &:first-child {
    margin-top: unset;
  }

  .w-img {
    padding-top: 60%;
    box-shadow: -0.75rem 0.75rem $second_font_color;
    @media screen and (max-width: 600px),screen and (max-width : 700px) and (orientation: landscape){
      margin-top: 3rem;
    }
  }
}

.w-statistic {
  padding: r(43) 0;
  margin-top: r(80);

  .w-content {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 9vw;
      row-gap: 9vw;
    }
    @media screen and (max-width:600px) {
      column-gap: 5vw;
    }
    @media screen and (max-width:330px) {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: unset;
    }
  }

  .text {
    text-align: center;
    font-size: r(16);
    color: #ffffff;
    font-weight: 600;
    margin-top: r(7);
    @media screen and (max-width:330px) {
      margin-top: r(12);
      font-size: 1.5rem;
     }
  }

  .number {
    font-size: r(60);
    color: $second_font_color;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:330px){
     font-size: 4rem;
    }
  }

  .item-statistic {
    min-width: r(180);
  }
}

.dist {
  height: 1.8rem;
  @media screen and (max-width: 992px){
    display: none;
  }
}
.banner {
  position: relative;
  z-index: 10;
  height: r(88);
  @media screen and (max-width: 992px){
   height: unset;
   width: 100% !important;
   
   }
  .w-content-banner {
    position: absolute;
    top: - r(88);
    background: #fdb900;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: r(40) r(80) r(40) r(50);
    @media screen and (max-width: 1200px){
      padding: r(40) 3rem r(40) 3rem;
    }
    @media screen and (max-width: 992px){
     position: static;
     flex-direction: column;
     .cta-banner{
       margin-top: 2rem;
       width: 15rem;
       height: 3rem;
     }
    }
    >*:not(img) {
      position: relative;
      z-index: 2;
    }
  }

  .banner-text {
    color: $main_font_color;
    font-weight: 800;
    font-size: r(48);
    @media screen and (max-width: 1200px){
      font-size: 2.5rem;
    }
    @media screen and (max-width: 767px){
      font-size: 2rem;
    }
    @media screen and (max-width: 600px){
      text-align: center;
    }
    @media screen and (max-width: 380px){
      line-height: 2.2rem;
    }
  }

  .bg-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

 .service ul {
     list-style-type: none;
  
     li {
      position: relative;
      padding-left: r(20);
      height: 1.5rem;
      display: flex;
      align-items: center;
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: $second_font_color;
      }
    
      &::before {
        width: r(8);
        height: r(2);
        left: r(5);
      }
    
      &::after {
        height: r(8);
        width: r(2);
        left: 0.5rem;
      }
     }
   }
   